---
title: Homepage
layout: base
---

<div class="py-16 md:py-24 border-b border-gray-200 dark:border-gray-800">
    <div class="max-w-screen-xl mx-auto px-4">
        <h2 class="text-3xl mb-12">Recent updates for Majesticons</h2>

        <div class="grid grid-cols-12 mb-12 pb-12 border-b border-gray-300 dark:border-gray-700">
            <div class="col-span-12 md:col-span-3 mb-4 md:mb-0">
                <div class="text-lg font-semibold">Version 3.3.1</div>
                <div class="text-gray-400 my-2">18 new icons</div>
                <div class="text-gray-400">Icon requests</div>
            </div>
            <div class="col-span-12 md:col-span-9 flex items-center flex-wrap gap-2">
                {% for image in collections.version331 %}
                    <div class="dark:text-gray-900 text-xs flex items-center py-1 px-3 rounded-lg bg-gray-100 dark:bg-gray-300">
                        <img src="/{{image}}" class="w-4 md:w-6 h-4 md:h-6 mr-2" alt="">
                        {% set imagenew = image | replace("images/version-3-3-1/","") %}
                        {{ imagenew | replace(".png","") }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="grid grid-cols-12 mb-12 pb-12 border-b border-gray-300 dark:border-gray-700">
            <div class="col-span-12 md:col-span-3 mb-4 md:mb-0">
                <div class="text-lg font-semibold">Version 3.3</div>
                <div class="text-gray-400 my-2">90 new icons</div>
                <div class="text-gray-400">October 2023</div>
            </div>
            <div class="col-span-12 md:col-span-9 flex items-center flex-wrap gap-2">
                {% for image in collections.version33 %}
                    <div class="dark:text-gray-900 text-xs flex items-center py-1 px-3 rounded-lg bg-gray-100 dark:bg-gray-300">
                        <img src="/{{image}}" class="w-4 md:w-6 h-4 md:h-6 mr-2" alt="">
                        {% set imagenew = image | replace("images/version-3-3/","") %}
                        {{ imagenew | replace(".png","") }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="grid grid-cols-12 mb-12 pb-12 border-b border-gray-300 dark:border-gray-700">
            <div class="col-span-12 md:col-span-3 mb-4 md:mb-0">
                <div class="text-lg font-semibold">Version 3.2</div>
                <div class="text-gray-400 my-2">100 new icons</div>
                <div class="text-gray-400">September 2023</div>
            </div>
            <div class="col-span-12 md:col-span-9 flex items-center flex-wrap gap-2">
                {% for image in collections.version32 %}
                    <div class="dark:text-gray-900 text-xs flex items-center py-1 px-3 rounded-lg bg-gray-100 dark:bg-gray-300">
                        <img src="/{{image}}" class="w-4 md:w-6 h-4 md:h-6 mr-2" alt="">
                        {% set imagenew = image | replace("images/version-3-2/","") %}
                        {{ imagenew | replace(".png","") }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="grid grid-cols-12 mb-12 pb-12 border-b border-gray-300 dark:border-gray-700">
            <div class="col-span-12 md:col-span-3 mb-4 md:mb-0">
                <div class="text-lg font-semibold">Version 3.1</div>
                <div class="text-gray-400 my-2">62 new icons</div>
                <div class="text-gray-400">August 2023</div>
            </div>
            <div class="col-span-12 md:col-span-9 flex items-center flex-wrap gap-2">
                {% for image in collections.version31 %}
                    <div class="dark:text-gray-900 text-xs flex items-center py-1 px-3 rounded-lg bg-gray-100 dark:bg-gray-300">
                        <img src="/{{image}}" class="w-4 md:w-6 h-4 md:h-6 mr-2" alt="">
                        {% set imagenew = image | replace("images/version-3-1/","") %}
                        {{ imagenew | replace(".png","") }}
                    </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
</div>