---
title: Homepage
layout: base
---

{% include "hero.html" %}

<div class="py-16 md:py-24 border-b border-gray-200 dark:border-gray-800">
  <div class="max-w-screen-xl mx-auto px-4">
    <h2 class="text-3xl mb-12">The finest and high-quality icon library for your projects.</h2>
    <div class="grid grid-cols-3 gap-8">
      <div class="col-span-3 md:col-span-1">
        <h3 class="text-base mb-4 font-semibold flex items-center">
          <div class="p-3 bg-orange-200 dark:bg-orange-950 text-orange-950 dark:text-orange-200 mr-2 rounded-full">
            <svg class="w-8" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="file-signature"><path id="file-signature_2" d="M26.6667 12V10.6667L20 4H18.6667M26.6667 12H21.3333C20.4444 12 18.6667 11.4667 18.6667 9.33333V4M26.6667 12V21.3333M18.6667 4H8C7.11111 4 5.33334 4.53333 5.33334 6.66667V25.3333C5.33334 26.2222 5.86667 28 8 28H9.33334M13.3333 29.3333C13.8131 29.3333 15.5877 28.5234 17.3992 26.9037M17.3992 26.9037C18.9437 25.5225 20.5151 23.5524 21.3333 20.9935C23.1111 15.4337 12.4444 20.9935 16 25.6268C16.4375 26.1968 16.9087 26.6134 17.3992 26.9037ZM17.3992 26.9037C19.5361 28.1678 22.0415 27.0319 23.7388 25.7258C24.2573 25.3268 24.517 25.127 24.6717 25.1891C24.8265 25.2512 24.9169 25.6078 25.0976 26.3208L25.0981 26.3229C25.6775 28.6092 27.3887 30.4546 29.3333 27.4806" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></g></svg>
          </div>
          6400+ icons
        </h3>
        <p>The whole icon library is more then 6400 icons big and is growing monthly. All icons are crafted by hand carefully in Figma and are reviewed individually for optimal visual and code-performance output.</p>
      </div>
      <div class="col-span-3 md:col-span-1">
        <h3 class="text-base mb-4 font-semibold flex items-center">
          <div class="p-2 bg-orange-200 dark:bg-orange-950 text-orange-950 dark:text-orange-200 mr-2 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-8" viewBox="0 0 32 32"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M16 2.667V4m0 24v1.333M28 16h1.333M4 16H2.667m4-10.667L8 6.667m16 0 1.333-1.334m0 21.334L24 25.333m-16 0-1.333 1.334M5.333 16c0 5.891 4.776 10.667 10.667 10.667S26.667 21.89 26.667 16 21.89 5.333 16 5.333 5.333 10.11 5.333 16Zm0 0A6.667 6.667 0 0 1 12 9.333M5.333 16c0 1.841.747 3.508 1.953 4.714M5.333 16 12 9.333M18.667 16A6.667 6.667 0 0 1 12 22.667M18.667 16a6.646 6.646 0 0 0-1.953-4.714M18.667 16 12 22.667m0 0a6.646 6.646 0 0 1-4.714-1.953M12 9.334c1.841 0 3.508.746 4.714 1.952m0 0-9.428 9.428"/></svg>
          </div>
          Line & solid
        </h3>
        <p>Every single icon is available in line and solid style. While the stroke-width can be adjusted to your projects needs, the solid variant offers a perfectly fit for hover/active states and are better visible in small sizes.</p>
      </div>
      <div class="col-span-3 md:col-span-1">
        <h3 class="text-base mb-4 font-semibold flex items-center">
          <div class="p-2 bg-orange-200 dark:bg-orange-950 text-orange-950 dark:text-orange-200 mr-2 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-8" viewBox="0 0 32 32"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m4.943 23.057 7.447-7.447a1.333 1.333 0 0 1 1.886 0l2.114 2.114c.521.52.521 1.365 0 1.886l-7.447 7.447m-4-4c-.52.52-.52 1.365 0 1.886l2.114 2.114c.52.52 1.365.52 1.886 0m-4-4 12.78-12.78a1.333 1.333 0 0 1 1.887 0l2.114 2.114c.52.52.52 1.364 0 1.885L8.943 27.057M25.333 4v2.667m0 0v2.666m0-2.666H28m-2.667 0h-2.666m2.666 12v2.666m0 0V24m0-2.667H28m-2.667 0h-2.666M10.667 4v2.667m0 0v2.666m0-2.666h2.666m-2.666 0H8"/></svg>
          </div>
          Professional look
        </h3>
        <p>Great care has been given to give all icons the same optical size and room. All icons are based on a 24x24px grid and fine-tune with a decent amount of border radius. This gives all icons consistancy and a modern look at the same time.</p>
      </div>
    </div>
  </div>
</div>

{% include "categories.html" %}

<div class="py-16 md:py-24 bg-gray-50 dark:bg-gray-900">
  <div class="max-w-screen-xl px-4 mx-auto grid grid-cols-12 items-center">
      <div class="col-span-12 md:col-span-4">
        <img src="/images/icon-detail-2.png" alt="">
      </div>
      <div class="col-span-12 md:col-span-8 md:pl-24 pt-12 md:pt-0">
          <div class="text-2xl xl:text-3xl">
            Professionally designed icons
          </div>
          <p class="my-3 md:my-6">
            Say goodbye to frustration and inconsistency. Embrace Majesticons, the icon library that empowers you to create a remarkable and seamless user experience. Elevate your design aesthetics and ensure your digital presence stands out from the crowd with Majesticons, the embodiment of professionalism and visual excellence.
          </p>
          <p class="mb-3 md:mb-6">
            <strong>Check the preview of all icons:</strong>
          </p>
          <div class="flex gap-2">
            <a target="_blank" href="/images/majesticons-v3-preview-line.jpg" class="button-outline">Line icons</a>
            <a target="_blank" href="/images/majesticons-v3-preview-solid.jpg" class="button-outline">Solid icons</a>
          </div>
      </div>
  </div>
</div>

<div class="py-16 md:py-24" id="pricing">
  <div class="max-w-screen-xl px-4 mx-auto">

  <div class="text-2xl xl:text-3xl mb-12">
    Simple and straightforward pricing without hidden costs
  </div>

  <div class="grid grid-cols-12 gap-6">
    <div class="col-span-12 md:col-span-4 border border-gray-200 dark:border-gray-800 rounded-xl bg-gray-100 dark:bg-gray-900 overflow-hidden">
      <div class="bg-white dark:bg-gray-800 p-6">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none" viewBox="0 0 64 64">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m8.928 23.464-.666-1.155m.666 1.155a4 4 0 1 1 6.928-4l1.334 2.31m-8.262 1.69 5.333 9.238m0 0a4 4 0 0 0-6.928 4L14 48.249c2.667 4.618 8.488 12.035 21.19 4.701 12.701-7.333 8.523-17.237 5.856-21.856l-2-3.464a4 4 0 0 0-6.928 4M14.26 32.702l4.667 8.083M17.19 21.773a4 4 0 0 1 6.928-4l8 13.857M17.19 21.773l8.666 15.012m6.262-5.155 3.333 5.773M40 14.762c2.315 0 4.727.955 6.6 2.828 1.873 1.873 2.827 4.284 2.828 6.6M43.771 7.219c2.779.464 5.863 2.092 8.486 4.714 2.622 2.622 4.25 5.707 4.714 8.485"/>
        </svg>
        <div class="text-lg font-medium mt-2">Community</div>
        <span class="text-gray-500 dark:text-gray-300">For open-source enthusiasts.</span>
      </div>
      <div class="p-6">
        <div class="text-3xl font-medium mb-2">Free</div>
        <div class="text-gray-600 dark:text-gray-400">Open-source icon set</div>
        <div class="text-gray-600 dark:text-gray-400">Life-time free</div>
        <a target="_blank" href="https://github.com/halfmage/majesticons" class="button-outline block my-4">Check Github</a>
        <ul class="flex flex-col gap-1 text-gray-800 dark:text-gray-200">
          <li class="flex items-center">
            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 13 4 4L20 6"/></svg>
            720 icons
          </li>
          <li class="flex items-center">
            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 13 4 4L20 6"/></svg>
            Community Figma file
          </li>
          <li class="flex items-center">
            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 13 4 4L20 6"/></svg>
            Optimised SVG files
          </li>
          <li class="flex items-center">
            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 13 4 4L20 6"/></svg>
            MIT License
          </li>
        </ul>
      </div>
    </div>

    <div class="col-span-12 md:col-span-4 border border-gray-200 dark:border-gray-800 rounded-xl bg-gray-100 dark:bg-gray-900 overflow-hidden">
      <div class="bg-white dark:bg-gray-800 p-6">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none" viewBox="0 0 64 64">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M32 34.667a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm0 0c-7.364 0-13.333 4.775-13.333 10.666M32 34.667c4.935 0 9.244 2.145 11.55 5.333M56 32V16a8 8 0 0 0-8-8H16a8 8 0 0 0-8 8v32a8 8 0 0 0 8 8h13.333M40 50.667 45.333 56 56 42.667"/>
        </svg>
        <div class="text-lg font-medium mt-2">Solo & Freelancers</div>
        <span class="text-gray-500 dark:text-gray-300">Perfect for individuals & freelancers.</span>
      </div>
      <div class="p-6">
        <div class="text-3xl font-medium mb-2">$99</div>
        <div class="text-gray-600 dark:text-gray-400">One-time payment</div>
        <div class="text-gray-600 dark:text-gray-400">Life-time access</div>
        <a target="_blank" href="https://halfmage.gumroad.com/l/majesticons?option=JET8um0k162dz0hXRocjsA%3D%3D" class="button block my-4">Buy now</a>
        <ul class="flex flex-col gap-1 text-gray-800 dark:text-gray-200">
          <li class="flex items-center">
            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 13 4 4L20 6"/></svg>
            <strong>1 user</strong>
          </li>
          <li class="flex items-center">
            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 13 4 4L20 6"/></svg>
            <strong>New icons monthly</strong>
          </li>
          <li class="flex items-center">
            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 13 4 4L20 6"/></svg>
            6400+ icons
          </li>
          <li class="flex items-center">
            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 13 4 4L20 6"/></svg>
            Figma file
          </li>
          <li class="flex items-center">
            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 13 4 4L20 6"/></svg>
            Optimised SVG files
          </li>
        </ul>
      </div>
    </div>

    <div class="col-span-12 md:col-span-4 border border-gray-200 dark:border-gray-800 rounded-xl bg-gray-100 dark:bg-gray-900 overflow-hidden">
      <div class="bg-white dark:bg-gray-800 p-6">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none" viewBox="0 0 64 64">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 21.333a5.333 5.333 0 1 0 0-10.666 5.333 5.333 0 0 0 0 10.666Zm0 0a8 8 0 0 0-8 8m8-8a8 8 0 0 1 8 8 8 8 0 0 1 8-8m0 0a5.333 5.333 0 1 0 0-10.666 5.333 5.333 0 0 0 0 10.666Zm0 0a8 8 0 0 1 8 8 8 8 0 0 1 8-8m0 0a5.333 5.333 0 1 0 0-10.666 5.333 5.333 0 0 0 0 10.666Zm0 0a8 8 0 0 1 8 8m-40 16a5.333 5.333 0 1 0 0-10.666 5.333 5.333 0 0 0 0 10.666Zm0 0a8 8 0 0 0-8 8m8-8a8 8 0 0 1 8 8 8 8 0 0 1 8-8m0 0a5.333 5.333 0 1 0 0-10.666 5.333 5.333 0 0 0 0 10.666Zm0 0a8 8 0 0 1 8 8 8 8 0 0 1 8-8m0 0a5.333 5.333 0 1 0 0-10.666 5.333 5.333 0 0 0 0 10.666Zm0 0a8 8 0 0 1 8 8"/>
        </svg>
        <div class="text-lg font-medium mt-2">Teams & Business</div>
        <span class="text-gray-500 dark:text-gray-300">Suitable for teams & agencies.</span>
      </div>
      <div class="p-6">
        <div class="text-3xl font-medium mb-2">$299</div>
        <div class="text-gray-600 dark:text-gray-400">One-time payment</div>
        <div class="text-gray-600 dark:text-gray-400">Life-time access</div>
        <a target="_blank" href="https://halfmage.gumroad.com/l/majesticons?option=q-nO6xpHHd0eYPWygGYdWQ%3D%3D" class="button block my-4">Buy now</a>
        <ul class="flex flex-col gap-1 text-gray-800 dark:text-gray-200">
          <li class="flex items-center">
            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 13 4 4L20 6"/></svg>
            <strong>Unlimited users</strong>
          </li>
          <li class="flex items-center">
            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 13 4 4L20 6"/></svg>
            <strong>New icons monthly</strong>
          </li>
          <li class="flex items-center">
            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 13 4 4L20 6"/></svg>
            6400+ icons
          </li>
          <li class="flex items-center">
            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 13 4 4L20 6"/></svg>
            Figma file
          </li>
          <li class="flex items-center">
            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 13 4 4L20 6"/></svg>
            Optimised SVG files
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</div>

{% include "faq.html" %}