---
layout: base
---

<div class="container mx-auto px-4">
  
  <div class="bg-gray-100 text-gray-800" x-data="{ selected: 'option-1' }">
    <nav class="bg-gray-300">
      <ul class="flex">
        <li class="px-4 py-2" x-bind:class="{ 'bg-gray-100': selected === 'option-1' }">
          <a href="#option-1" x-on:click="selected = 'option-1'">Line</a>
        </li>
        <li class="px-4 py-2" x-bind:class="{ 'bg-gray-100': selected === 'option-2' }">
          <a href="#option-2" x-on:click="selected = 'option-2'">Solid</a>
        </li>
      </ul>
    </nav>
  
    <div x-show="selected === 'option-1'" class="p-4">
      {% include "majesticonsLine.html" %}
    </div>
  
    <div x-show="selected === 'option-2'" class="p-4">
      {% include "majesticonsSolid.html" %}
    </div>
  </div>
</div>

