---
layout: base
---
    
  <div x-data="{ selected: 'option-2' }">
    <nav class="bg-gray-300">
      <ul class="flex">
        <li class="px-4 py-2" x-bind:class="{ 'bg-gray-100': selected === 'option-2' }">
          <a href="#option-2" x-on:click="selected = 'option-2'">Line</a>
        </li>
        <li class="px-4 py-2" x-bind:class="{ 'bg-gray-100': selected === 'option-3' }">
          <a href="#option-3" x-on:click="selected = 'option-3'">Solid</a>
        </li>
      </ul>
    </nav>
    <div x-show="selected === 'option-2'" class="p-4">
      {% include "majesticonsLine.html" %}
    </div>
    <div x-show="selected === 'option-3'" class="p-4">
      {% include "majesticonsSolid.html" %}
    </div>

  </div>