<div class="bg-gray-100 dark:bg-gray-900 py-16 md:py-24" id="benefits">
  <div class="wrapper">
    <div class="mb-8 text-3xl sm:text-5xl font-extrabold tracking-tight">Save hundreds of hours <br> on design and dev work</div>
    <p class="text-gray-700 dark:text-gray-300 mt-4 mb-8 max-w-prose">Say goodbye to frustration and inconsistency. This icon library empowers you to create a remarkable and seamless user experience. All icons are crafted by hand carefully in Figma and are reviewed individually for optimal visual and code-performance output.</p>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 xl:gap-16">
      <div class="rounded-lg shadow overflow-hidden">
        {% image "made-in-figma-use-it-anywhere.png", "made-in-figma-use-it-anywhere", "100vw" %}
      </div>
      <div class="rounded-lg shadow overflow-hidden">
        {% image "simple-svg-icon-code.png", "made-in-figma-use-it-anywhere", "100vw" %}
      </div>
    </div>
  </div>
</div>