<div class="py-16 md:py-24">
    <div class="max-w-screen-xl px-4 mx-auto">
        <h2 class="mb-12 text-3xl text-center">7,300+ icons, organized into 54 categories.</h2>
        <div class="flex flex-wrap justify-center gap-2 text-gray-700 dark:text-gray-200">

            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-53.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-53.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                AI
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-52.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-52.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Web3
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-01.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-01.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Arrows
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-02.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-02.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Astronomy
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-03.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-03.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Bags
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-04.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-04.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Bookmarks
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-05.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-05.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Books
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-06.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-06.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Brands
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-07.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-07.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Buildings
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-08.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-08.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Calendar
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-09.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-09.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Charts
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-10.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-10.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Clipboards
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-11.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-11.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Cloud
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/t-shirt.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/t-shirt-solid.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Clothing
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-12.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-12.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Connectivity
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-13.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-13.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Currency
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-14.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-14.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Database
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-15.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-15.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Development
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-16.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-16.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Devices
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-17.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-17.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Editor
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-18.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-18.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Files
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-19.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-19.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Finance
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-20.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-20.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Folders
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-21.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-21.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Food
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-22.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-22.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Hands
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-23.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-23.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Humans
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-24.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-24.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Images
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-25.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-25.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Interface
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-26.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-26.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Interior
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-27.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-27.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Logistics
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-28.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-28.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Mail
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-29.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-29.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Maps
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-30.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-30.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Math
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-31.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-31.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Media
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-32.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-32.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Medical
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-33.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-33.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Messaging
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-34.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-34.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Nature
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-35.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-35.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Notes
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/numeric-3-hexagon.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/numeric-3-hexagon-solid.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Numeric
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-36.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-36.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Photography
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-37.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-37.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Scan
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-38.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-38.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Science
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-39.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-39.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Security
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-40.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-40.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Shopping
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-41.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-41.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Tables
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-42.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-42.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Telecom
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-43.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-43.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Textboxes
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-44.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-44.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Tickets
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-45.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-45.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Time
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-46.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-46.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Tools
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-47.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-47.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                User
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-48.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-48.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Vehicles
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-49.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-49.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Video
            </div>
            <div class="group flex items-center gap-2 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 p-3 rounded-xl hover:scale-110 hover:shadow-lg transition-all">
                <img src="/images/categories/category-icon-50.svg" class="size-8 brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                <img src="/images/categories/category-icon-solid-50.svg" class="size-8 hidden brightness-0 dark:brightness-100 group-hover:block" alt="">
                Views
            </div>
        </div>
    </div>
</div>