<div class="py-16 md:py-24" id="faq">
    <div class="max-w-screen-xl mx-auto px-4">
        <h2 class="text-3xl mb-12 text-center">6,400+ icons, organized into 50 categories.</h2>
        <div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-8 xl:grid-cols-10 gap-2 md:gap-4 text-center text-xs text-gray-600 dark:text-gray-300">

            <!-- Previews -->
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800 relative">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-51.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-51.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Blockchain
                <div class="absolute bg-gray-800 dark:bg-gray-700 dark:text-white rounded-md text-white px-2 py-1 -top-2 -right-2 uppercase font-medium text-x">Soon!</div>
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800 relative">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-52.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-52.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Web3
                <div class="absolute bg-gray-800 dark:bg-gray-700 dark:text-white rounded-md text-white px-2 py-1 -top-2 -right-2 uppercase font-medium text-x">Soon!</div>
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800 relative">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-53.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-53.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                AI
                <div class="absolute bg-gray-800 dark:bg-gray-700 dark:text-white rounded-md text-white px-2 py-1 -top-2 -right-2 uppercase font-medium text-x">Soon!</div>
            </div>

            <div class="p-3 md:p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-01.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-01.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Arrows
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-02.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-02.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Astronomy
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-03.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-03.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Bags
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-04.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-04.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Bookmarks
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-05.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-05.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Books
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-06.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-06.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Brands
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-07.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-07.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Buildings
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-08.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-08.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Calendar
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-09.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-09.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Charts
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-10.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-10.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Clipboards
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-11.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-11.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Cloud
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-12.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-12.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Connectivity
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-13.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-13.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Currency
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-14.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-14.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Database
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-15.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-15.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Development
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-16.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-16.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Devices
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-17.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-17.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Editor
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-18.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-18.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Files
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-19.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-19.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Finance
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-20.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-20.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Folders
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-21.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-21.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Food
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-22.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-22.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Hands
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-23.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-23.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Humans
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-24.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-24.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Images
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-25.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-25.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Interface
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-26.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-26.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Interior
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-27.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-27.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Logistics
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-28.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-28.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Mail
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-29.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-29.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Maps
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-30.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-30.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Math
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-31.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-31.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Media
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-32.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-32.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Medical
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-33.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-33.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Messaging
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-34.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-34.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Nature
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-35.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-35.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Notes
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-36.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-36.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Photography
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-37.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-37.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Scan
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-38.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-38.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Science
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-39.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-39.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Security
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-40.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-40.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Shopping
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-41.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-41.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Tables
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-42.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-42.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Telecom
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-43.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-43.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Textboxes
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-44.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-44.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Tickets
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-45.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-45.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Time
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-46.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-46.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Tools
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-47.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-47.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                User
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-48.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-48.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Vehicles
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-49.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-49.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Video
            </div>
            <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-xl flex flex-col items-center justify-center group cursor-default hover:bg-gray-100 dark:hover:bg-gray-800">
                <div class="w-8 h-8 mb-1 md:mb-2">
                    <img src="/images/categories/category-icon-50.svg" width="32" height="32" class="brightness-0 dark:brightness-100 group-hover:hidden" alt="">
                    <img src="/images/categories/category-icon-solid-50.svg" width="32" height="32" class="brightness-0 dark:brightness-100 hidden group-hover:block" alt="">
                </div>
                Views
            </div>
        </div>
    </div>
</div>