<div class="py-16 md:py-24" id="examples">
    <div class="wrapper">
      <div class="text-3xl sm:text-5xl font-extrabold tracking-tight">Making beautiful designs <br> with Majesticons is easy</div>
      <p class="text-gray-700 dark:text-gray-400 mt-4 mb-8 max-w-prose">Whether you're working with SaaS platforms, websites, or any modern interfaces, Majesticons brings a magical touch to your designs. Discover a selection below...</p>
      <div class="grid grid-cols-6 gap-2 md:gap-8 xl:gap-12 *:inline-block *:w-full *:h-full *:border *:border-gray-200 dark:*:border-gray-800">
        <div class="col-span-2 row-span-1 rounded-xl shadow overflow-hidden">{% image "majesticons-example-01.png", "majesticons-example-01", "50vw" %}</div>
        <div class="col-span-4 row-span-2 rounded-xl shadow overflow-hidden">{% image "majesticons-example-02.png", "majesticons-example-02", "50vw" %}</div>
        <div class="col-span-2 row-span-1 rounded-xl shadow overflow-hidden">{% image "majesticons-example-03.png", "majesticons-example-03", "50vw" %}</div>
        <div class="col-span-3 row-span-1 rounded-xl shadow overflow-hidden">{% image "majesticons-example-04.png", "majesticons-example-04", "50vw" %}</div>
        <div class="col-span-3 row-span-1 rounded-xl shadow overflow-hidden">{% image "majesticons-example-05.png", "majesticons-example-05", "50vw" %}</div>
        <div class="col-span-2 row-span-1 rounded-xl shadow overflow-hidden">{% image "majesticons-example-06.png", "majesticons-example-06", "50vw" %}</div>
        <div class="col-span-4 row-span-2 rounded-xl shadow overflow-hidden">{% image "majesticons-example-07.png", "majesticons-example-07", "50vw" %}</div>
        <div class="col-span-2 row-span-1 rounded-xl shadow overflow-hidden">{% image "majesticons-example-09.png", "majesticons-example-09", "50vw" %}</div>
      </div>
      </div>
    </div>
  </div>