<div class="py-16 md:py-24" id="faq">
    <div class="max-w-screen-xl mx-auto px-4">
        <h2 class="text-3xl mb-12 text-center">Frequently asked questions</h2>
        <div class="max-w-screen-md mx-auto">
            <details class="border-b border-gray-300 dark:border-gray-700 py-6 cursor-pointer">
                <summary class="text-xl">Why do I need a professional icon library?</summary>
                <div class="mt-4">
                    <p class="mb-2">Inconsistency in icons is the most noticeable flaw in contemporary UI design. Although countless icon libraries exist online today, the majority of them suffer from issues such as poor quality, bugs, excessive stylization, or inadequate size—often a combination of these problems.</p>
                    <p class="mb-2">The true value of a consistent icon library only becomes apparent when you actually use one. A reliable icon library saves you both time and money that would otherwise be spent on meticulously crafting icons individually or, even worse, constantly fixing existing icons to achieve consistency and visual balance.</p>
                    <p class="mb-2">To assess the worth of an icon library, a useful perspective is to ask yourself, "Will this library save me several hours of work on a project?" If the answer is yes, then it's likely a worthwhile investment. Moreover, it transforms into an asset that can be utilized across countless future projects.</p>
                    <p class="mb-2">The beauty of this icon library lies in its unlimited usage across multiple projects. In fact, we purposefully designed it this way — Majesticons are built to be 100% native to Figma, providing consistency, professional quality, and a neutral aesthetic suitable for any UI or web design endeavor.</p>
                </div>
            </details>
            <details class="border-b border-gray-300 dark:border-gray-700 py-6 cursor-pointer">
                <summary class="text-xl">What does "lifetime access" mean?</summary>
                <div class="mt-4">
                    <p>Upon purchasing the icon library, you will be granted lifetime access to all forthcoming updates at no additional cost. Rest assured, we will promptly notify you whenever updates and enhancements are implemented.</p>
                </div>
            </details>
            <details class="border-b border-gray-300 dark:border-gray-700 py-6 cursor-pointer">
                <summary class="text-xl">Can I use it for commercial projects?</summary>
                <div class="mt-4">
                    <p class="mb-2">Certainly! We would be delighted to witness your creation. Feel free to utilize this icon library for the development of various commercial businesses, websites, apps, or projects. Additionally, you have the freedom to leverage it in generating limitless designs for clients and charging them accordingly (our lips are sealed).</p>
                    <p>However, it is important to note that you are not permitted to employ Majesticons to produce another icon library or template, nor incorporate them into a UI kit or template, even if it resides outside the realm of Figma.</p>
                </div>
            </details>
            <details class="border-b border-gray-300 dark:border-gray-700 py-6 cursor-pointer">
                <summary class="text-xl">Can I use it for multiple projects?</summary>
                <div class="mt-4">
                    <p>Absolutely! You can use Majesticons in as many projects as you like. Please mind to not use more then 150 icons per project.</p>
                </div>
            </details>
            <details class="border-b border-gray-300 dark:border-gray-700 py-6 cursor-pointer">
                <summary class="text-xl">How do I access updates after purchasing?</summary>
                <div class="mt-4">
                    <p class="mb-2">After each update, we’ll send you an email with what’s new and post it in our changelog. If you like what you’re reading, you can download the new files.</p>
                    <p>You can access all icons in your <a class="underline" href="https://gumroad.com/library" target="_blank" rel="noopener noreferrer">Gumroad library</a> if you made an account. If not clicking <em>View content</em> or <em>Access Majesticons</em> in your original purchase email. These are sent from noreply@customers.gumroad.com with the subject <em>"You bought Majesticons"</em></p>
                </div>
            </details>
        </div>
    </div>
</div>