<div class="bg-gray-100 py-16 md:py-24" id="features">
  <div class="wrapper">
    <div class="mb-8 text-3xl sm:text-5xl font-extrabold tracking-tight">Impactful icon design</div>
    <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-8 xl:gap-16">
      <div>
        <div class="rounded-xl shadow-sm overflow-hidden">
          {% image "genuine-and-comprehensible.png", "genuine-and-comprehensible", "100vw" %}
        </div>
        <h4 class="text-xl font-semibold mt-4">Genuine and comprehensible</h4>
        <p class="mt-2 text-gray-700">Icons meticulously designed from real objects to enhance user experience significantly.</p>
      </div>
      <div>
        <div class="rounded-xl shadow-sm overflow-hidden">
          {% image "tailored-for-every-usecase.png", "tailored-for-every-usecase", "100vw" %}
        </div>
        <h4 class="text-xl font-semibold mt-4">Icons for every usecase</h4>
        <p class="mt-2 text-gray-700">Pick from many icon variations to fit your needs; we have plenty to choose from.</p>
      </div>
      <div>
        <div class="rounded-xl shadow-sm overflow-hidden">
          {% image "three-distinct-styles.png", "three-distinct-styles", "100vw" %}
        </div>
        <h4 class="text-xl font-semibold mt-4">Styles to fit your tone</h4>
        <p class="mt-2 text-gray-700">If icons are used matching your brand, user experience will be improved.</p>
      </div>
      <div>
        <div class="rounded-xl shadow-sm overflow-hidden">
          {% image "adjustable-stroke-width.png", "adjustable-stroke-width", "100vw" %}
        </div>
        <h4 class="text-xl font-semibold mt-4">Versatile figma file</h4>
        <p class="mt-2 text-gray-700">Created in Figma, giving you complete flexibility in how you use them.</p>
      </div>
      <div>
        <div class="rounded-xl shadow-sm overflow-hidden">
          {% image "different-scale-methods.png", "different-scale-methods", "100vw" %}
        </div>
        <h4 class="text-xl font-semibold mt-4">Scaling how you need it</h4>
        <p class="mt-2 text-gray-700">Resize or scale icons in Figma to achieve your desired look.</p>
      </div>
      <div>
        <div class="rounded-xl shadow-sm overflow-hidden">
          {% image "consistancy-is-the-key.png", "consistancy-is-the-key", "100vw" %}
        </div>
        <h4 class="text-xl font-semibold mt-4">Genuine and comprehensible</h4>
        <p class="mt-2 text-gray-700">Seamlessly integrate our SVG icons into design tools such as Sketch, Canva, and more.</p>
      </div>
    </div>
  </div>
</div>