<div class="bg-gray-100 py-24" id="features">
  <div class="wrapper">
    <div class="mb-8 text-3xl sm:text-5xl font-extrabold tracking-tight">Impactful icon design</div>
    <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-8 xl:gap-16">
      <div>
        <img class="w-full h-auto rounded-xl shadow" src="/images/genuine-and-comprehensible.png" alt="">
        <h4 class="text-xl font-semibold mt-4">Genuine and comprehensible</h4>
        <p class="mt-2 text-gray-700">Icons meticulously designed from real objects to enhance user experience significantly.</p>
      </div>
      <div>
        <img class="w-full h-auto rounded-xl shadow" src="/images/tailored-for-every-usecase.png" alt="">
        <h4 class="text-xl font-semibold mt-4">Genuine and comprehensible</h4>
        <p class="mt-2 text-gray-700">Icons meticulously designed from real objects to enhance user experience significantly.</p>
      </div>
      <div>
        <img class="w-full h-auto rounded-xl shadow" src="/images/three-distinct-styles.png" alt="">
        <h4 class="text-xl font-semibold mt-4">Genuine and comprehensible</h4>
        <p class="mt-2 text-gray-700">Icons meticulously designed from real objects to enhance user experience significantly.</p>
      </div>
      <div>
        <img class="w-full h-auto rounded-xl shadow" src="/images/adjustable-stroke-width.png" alt="">
        <h4 class="text-xl font-semibold mt-4">Genuine and comprehensible</h4>
        <p class="mt-2 text-gray-700">Icons meticulously designed from real objects to enhance user experience significantly.</p>
      </div>
      <div>
        <img class="w-full h-auto rounded-xl shadow" src="/images/different-scale-methods.png" alt="">
        <h4 class="text-xl font-semibold mt-4">Genuine and comprehensible</h4>
        <p class="mt-2 text-gray-700">Icons meticulously designed from real objects to enhance user experience significantly.</p>
      </div>
      <div>
        <img class="w-full h-auto rounded-xl shadow" src="/images/consistancy-is-the-key.png" alt="">
        <h4 class="text-xl font-semibold mt-4">Genuine and comprehensible</h4>
        <p class="mt-2 text-gray-700">Icons meticulously designed from real objects to enhance user experience significantly.</p>
      </div>
    </div>
  </div>
</div>