<div class="bg-gray-100 dark:bg-gray-900 py-16 md:py-24 border-t-2 border-gray-200 dark:border-gray-800" id="features-app">
  <div class="wrapper">
    <div class="mb-8 text-3xl sm:text-5xl font-extrabold tracking-tight">Web app advanced features</div>
    <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-8 xl:gap-16">
      <div>
        <div class="rounded-xl shadow-sm overflow-hidden">
          {% image "webapp-feature-01.png", "webapp-feature-01", "100vw" %}
        </div>
        <h4 class="text-xl font-semibold mt-4">Preview icons in any style</h4>
        <p class="mt-2 text-gray-400">Switch between stroke weights, sizes, and themes. Create custom icon views tailored to your UI.</p>
      </div>
      <div>
        <div class="rounded-xl shadow-sm overflow-hidden">
          {% image "webapp-feature-02.png", "webapp-feature-02", "100vw" %}
        </div>
        <h4 class="text-xl font-semibold mt-4">Find what you need, instantly</h4>
        <p class="mt-2 text-gray-400">Search by name, keyword, or category. Filter by style, size, and stroke to get exact results—fast.</p>
      </div>
      <div>
        <div class="rounded-xl shadow-sm overflow-hidden">
          {% image "webapp-feature-03.png", "webapp-feature-03", "100vw" %}
        </div>
        <h4 class="text-xl font-semibold mt-4">SVG in one click</h4>
        <p class="mt-2 text-gray-400"> Copy or download SVG icons directly into your design tool. No extra steps, no hassle.</p>
      </div>
    </div>
  </div>
</div>