<footer class="py-16 md:py-24">
  <div class="wrapper">
    <div class="flex flex-col items-center justify-center">
      <a href="/"><img src="/images/logo.svg" alt="Majesticons logo" class="h-20"></a>
      <nav class="flex flex-wrap items-center justify-center gap-4 mt-16">
        <a class="p-2 hover:opacity-70" href="#benefits">Benefits</a>
        <a class="p-2 hover:opacity-70" href="#pricing">Pricing</a>
        <a class="p-2 hover:opacity-70" href="/free">Free Version</a>
        <a class="p-2 hover:opacity-70" href="/changelog">Changelog</a>
      </nav>
    </div>
  </div>
</footer>