<footer class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto flex justify-center items-center sm:flex-row flex-col">
    <a href="/" class="flex items-center hover:opacity-80 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" class="md:w-12 w-8 md:h-12 h-8 mr-2" fill="none" viewBox="0 0 48 48">
        <path stroke="url(#paint0_linear)" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M18 30l-4 6H8V12h6l10 12 10-12h6v24h-6l-4-6"/>
        <defs>
          <linearGradient id="paint0_linear" x1="8" x2="40" y1="24" y2="24" gradientUnits="userSpaceOnUse">
            <stop stop-color="#396AFC"/>
            <stop offset="1" stop-color="#12F4F0"/>
          </linearGradient>
        </defs>
      </svg>
      <h1 class="text-lg md:text-2xl font-extrabold">Majesticons</h1>
    </a>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-600 sm:py-2 sm:mt-0 mt-4">© 2021 made by <a href="https://twitter.com/halfmage" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@halfmage</a>
    </p>
  </div>
</footer>