<header class="bg-currentColor border-b border-gray-200">
<div class="container mx-auto p-4 flex flex-col md:flex-row items-center justify-between">
  <a href="/" class="flex items-center hover:text-primary">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="lg:w-10 w-8 lg:h-10 h-8 mr-2" viewBox="0 0 32 32"><path fill="currentColor" fill-rule="evenodd" d="M1.3 16a14.7 14.7 0 1129.4 0 14.7 14.7 0 01-29.4 0zm11.8-6.1a1.3 1.3 0 00-2.2 0l-4 5.3c-.3.5-.3 1.1 0 1.6l4 5.3a1.3 1.3 0 102.2-1.6L9.7 16l2.3-3.1 3 3.9a1.3 1.3 0 002 0l3-4 2.3 3.2-3.4 4.5a1.3 1.3 0 102.2 1.6l4-5.3c.3-.5.3-1.1 0-1.6l-4-5.3a1.3 1.3 0 00-2.2 0L16 13.8l-3-4z" clip-rule="evenodd"/></svg>
    <span class="text-xl lg:text-2xl font-black mr-2">Majesticons</span>
    <span class="bg-gray-200 text-gray-800 rounded-full py-1 px-2 text-xs font-extrabold tracking-widest uppercase">{{setType}}</span>
  </a>
  <nav class="flex items-center mt-4 md:mt-0">
    <a class="font-bold px-2 xl:px-4 inline-flex items-center hover:text-primary" target="_blank" href="https://github.com/halfmage/majesticons">
      <svg xmlns="http://www.w3.org/2000/svg" class="hidden sm:block w-6 h-6" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 15V3H7C4.6 3 4 5 4 6v12m16-3H7c-1 0-3 .6-3 3m16-3v6h-3M4 18c0 2.4 2 3 3 3M10 22v-4h4v4l-2-1.5-2 1.5zM7 6h0M7 12h0M7 9h0"/></svg>
      <span class="sm:ml-2 whitespace-nowrap">Github</span>
    </a>
    <a class="font-bold px-2 xl:px-4 inline-flex items-center hover:text-primary" target="_blank" href="https://www.npmjs.com/package/majesticons">
      <svg xmlns="http://www.w3.org/2000/svg" class="hidden sm:block w-6 h-6" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8V6c0-1.1.9-2 2-2h4a2 2 0 011.6.9l.8 1.2c.4.6 1 .9 1.7.9H19a2 2 0 012 2v9a2 2 0 01-2 2h-3"/>
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 16a6 6 0 01-6 6m6-6a6 6 0 00-6-6m6 6H2m6 6a6 6 0 01-6-6m6 6c-4-6-1.7-10.5 0-12m0 12c4-6 1.7-10.5 0-12m-6 6a6 6 0 016-6"/>
      </svg>
      <span class="sm:ml-2 whitespace-nowrap">NPM</span>
    </a>
    <a class="font-bold px-2 xl:px-4 inline-flex items-center bg-primary hover:bg-black rounded-full text-white py-2" target="_blank" href="https://gum.co/majesticons">
      <svg xmlns="http://www.w3.org/2000/svg" class="hidden sm:block w-6 h-6" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M12 3c.3 0 .6.2.8.4l3.5 5.3L20.5 6a1 1 0 011.5 1l-2 13c0 .5-.5.9-1 .9H5a1 1 0 01-1-.8l-2-13a1 1 0 011.5-1l4.2 2.5 3.5-5.3c.2-.2.5-.4.8-.4zm0 2.8l-3.2 4.8a1 1 0 01-1.3.3l-3.2-2L6 19H18l1.6-10-3.2 1.9a1 1 0 01-1.3-.3L12 5.8zm0 7.2a1 1 0 100 2 1 1 0 000-2zm-3 1a3 3 0 116 0 3 3 0 01-6 0z" clip-rule="evenodd"/></svg>
      <span class="sm:ml-2 whitespace-nowrap">Get Pro Pack</span>
    </a>
  </nav>
</div>
</header>

