<header class="sticky top-0 bg-white z-50 border-b border-gray-100">
  <div class="wrapper py-4 xl:py-8 flex items-center justify-between">
    <a href="/"><img src="/images/logo.svg" alt="Majesticons logo" class="h-9 md:h-10"></a>
    <nav class="flex items-center gap-3">
      <a class="hidden md:block p-2 hover:opacity-70" href="#benefits">Benefits</a>
      <a class="hidden md:block p-2 hover:opacity-70" href="#categories">Categories</a>
      <a class="hidden md:block p-2 hover:opacity-70" href="#features">Features</a>
      <a class="hidden md:block p-2 hover:opacity-70" href="#examples">Examples</a>
      <a class="hidden md:block p-2 hover:opacity-70" href="#pricing">Pricing</a>
      <a class="bg-gray-800 py-2 px-4 inline-block text-white rounded-full hover:bg-gray-700 font-medium transition-all" href="{{settings.gumroad}}" target="_blank">Buy icons</a>
    </nav>
    
  </div>
</header>