<header>
  <div class="wrapper py-8 flex items-center justify-between">
    <a href="/"><img src="images/logo.svg" alt="" class="h-10"></a>
    <nav class="flex items-center gap-4">
      <a class="p-2 hover:opacity-70" href="#icons">Icons</a>
      <a class="p-2 hover:opacity-70" href="#examples">Examples</a>
      <a class="p-2 hover:opacity-70" href="#pricing">Pricing</a>
      <a class="bg-blue-700 py-2 px-4 inline-block text-white rounded-full hover:bg-blue-800 font-medium transition-all" href="{{settings.gumroad}}" target="_blank">Buy the icons</a>
    </nav>
    
  </div>
</header>