<div class="wrapper text-center py-12 md:pt-16 md:pb-32 xl:pt-32 xl:pb-64 relative">
  <div class="font-extrabold text-4xl sm:text-6xl lg:text-7xl tracking-tight my-6">Beautiful icons make <br> stunning designs</div>
  <div class="text-base sm:text-2xl text-gray-700">Save time, effort and literally money by <br> choosing a clean and consistent icon set.</div>
  <div class="flex items-center justify-center gap-3 mt-6">
    <a class="bg-gray-800 py-3 px-6 inline-block text-white rounded-full hover:bg-gray-700 font-medium transition-all" href="{{settings.gumroad}}" target="_blank">Buy icons</a>
    <a class="py-3 px-6 inline-block border border-gray-300 rounded-full hover:bg-gray-200 transition-all" href="#examples">View examples</a>
  </div>
  <img src="/images/hero-bg-mobile.svg" alt="" class="md:hidden p-4 mt-8">
  <img src="/images/hero-bg-bl.svg" alt="" class="hidden md:block absolute left-8 bottom-8 w-1/3">
  <img src="/images/hero-bg-br.svg" alt="" class="hidden md:block absolute right-8 bottom-8 w-1/3">
</div>