<div class="container mx-auto px-4 py-20 flex flex-col items-center text-center">
  <h2 class="text-3xl md:text-5xl lg:text-7xl font-bold">3000+ versatile & beautiful <br /> icons for your next project.</h2>
  <h3 class="text-base md:text-xl mt-8 text-gray-300 max-w-prose">A monthly growing icon pack with 3000+ editable icons for Figma or your next web project with SVG. Easily make adjustments to the icons in a fraction of time.</h3>
    <a class="font-bold md:text-xl rounded-full py-3 px-8 shadow bg-primary flex items-center mt-8" href="https://gum.co/majesticons">
      <svg xmlns="http://www.w3.org/2000/svg" class="md:w-8 w-6 md:h-8 h-6 mr-2" fill="none" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M13 2a1 1 0 10-2 0v1a1 1 0 102 0V2zM5 3a1 1 0 011.3 0l.8.6a1 1 0 11-1.5 1.5L5 4.3A1 1 0 015 3zm-1 8a1 1 0 100-2H3a1 1 0 100 2h1zm5 1a3 3 0 116 0v4a5 5 0 015 5v1a1 1 0 11-2 0v-1a3 3 0 00-3-3 2 2 0 01-2-2v-4a1 1 0 10-2 0v8a1 1 0 01-1.8.6l-1.5-2.2A1 1 0 007 18h-.5a.5.5 0 00-.4.8l1.7 2.6a1 1 0 01-1.6 1.2l-1.8-2.7A2.5 2.5 0 016.5 16H7a3 3 0 012 .8V12zm13-2c0 .6-.4 1-1 1h-1a1 1 0 110-2h1c.6 0 1 .4 1 1zm-2.6-5l.7-.7A1 1 0 0018.7 3l-.8.7a1 1 0 101.5 1.5zM12 7a4 4 0 00-4 4.8 1 1 0 01-1.9.4A6 6 0 0112 5a6 6 0 015.9 7.2 1 1 0 11-2-.4l.1-.8a4 4 0 00-4-4z" clip-rule="evenodd"/></svg>
      Get Majesticons Pro
    </a>
    <a class="text-gray-500 mt-4" href="">
      ...or check out the free set first :-)
    </a>
</div>