<div class="max-w-screen-xl mx-auto px-4 py-24">
<div class="grid grid-cols-12 items-center">
  <div class="col-span-6 pr-24">

    <div class="border border-[currentColor] font-semibold px-4 py-1 text-xs uppercase rounded-full inline-block mx-auto mb-6">
      Version 3.0 released
    </div>

    <h1 class="text-3xl md:text-5xl font-light tracking-tight">
      The finest and high-quality icon library for your projects.
    </h1>
    
    <p class="text-lg font-light max-w-prose my-6">
      Save time and effort by selecting a clean, consistent and neutral icon set crafted specifically for modern websites, SaaS platforms, and professional UI/UX projects.
    </p>

    <div class="flex flex-col md:flex-row md:items-center">
      <a href="https://gumroad.com/l/IdGclx" class="button mr-3">
        Buy now
      </a>
      <span class="text-gray-500">Buy once, use forever.</span>
    </div>
  </div>

  <div class="col-span-6">
    {% include "hero-image.html" %}
  </div>
</div>
</div>