<div x-data="loadIconDataLine()">
  <input
    x-ref="searchField"
    x-model="search"
    x-on:keydown.window.prevent.slash="$refs.searchField.focus()"
    placeholder="Search for icon names e.g. 'cloud-code, book-music or textbox-clock'"
    type="search"
    class="block w-full bg-white shadow rounded px-4 py-3 dark:bg-gray-800 my-4"
  />

  <div class="grid" style="grid-template-columns: repeat(auto-fill, minmax(120px, 1fr))">
    <template x-for="item in filteredIcons" :key="item">
      <div class="flex flex-col items-center p-3">
        <div x-html="item.sourceWithClass"></div>
        <div class="text-xs w-full truncate text-center mt-2 text-gray-400" x-text="item.namePlain"></div>
        <div class="sr-only" x-bind:id="item.namePlain" x-text="item.source"></div>
        <!-- <div x-bind:data-clipboard-target="'#' + item.namePlain" class="icon-copy-trigger hover:underline cursor-pointer font-bold transition-opacity group-hover:opacity-100 opacity-0 ">Copy SVG</div> -->
      </div>
    </template>
  </div>
</div>

<script>
var iconDataLine = {{ majesticonsLine | safe }};
function loadIconDataLine() {
    return {
        search: "",
        iconDataLine,
        get filteredIcons() {
            if (this.search === "") {
                return this.iconDataLine;
            }
            return this.iconDataLine.filter((item) => {
                return item.name
                    .toLowerCase()
                    .includes(this.search.toLowerCase());
            });
        },
    };
}
</script>