<meta charset="UTF-8"/>
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>

<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="manifest" href="{{ settings.url }}/site.webmanifest">


<title>{{settings.title}} | {{title}}</title>
<meta name="description" content="{{ settings.description }}" />
<link rel="canonical" href="{{ settings.url }}" />

<meta property="og:title" content="{{ settings.title }}">
<meta property="og:type" content="website">
<meta property="og:locale" content="{{ settings.locale }}" />
<meta property="og:description" content="{{ settings.description }}">
<meta property="og:url" content="{{ settings.url }}">
<meta property="og:image" content="{{ settings.url }}images/social.png">
<meta property="og:image:alt" content="Majesticons Pro">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@halfmage">
<meta name="twitter:title" content="{{ settings.title }}">
<meta name="twitter:description" content="{{ settings.description }}">
<meta name="twitter:image" content="{{ settings.url }}images/social.png">
<meta name="twitter:image:alt" content="Majesticons Pro">

<link rel="stylesheet" href="/style.css?v={% version %}"/>