<meta charset="UTF-8"/>
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>

<meta name="theme-color" content="#ffffff">
<link rel="icon" href="/images/favicon.png">
<link rel="mask-icon" href="/images/favicon.png" color="#ffffff">
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
<link rel="manifest" href="manifest.json">

<title>{{ settings.title }}</title>
<meta name="description" content="{{ settings.description }}" />
<link rel="canonical" href="{{ settings.url }}" />

<meta property="og:title" content="{{ settings.title }}">
<meta property="og:type" content="website">
<meta property="og:locale" content="{{ settings.locale }}" />
<meta property="og:description" content="{{ settings.description }}">
<meta property="og:url" content="{{ settings.url }}">
<meta property="og:image" content="{{ settings.url }}/images/social.png">
<meta property="og:image:alt" content="Majesticons">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@halfmage">
<meta name="twitter:title" content="{{ settings.title }}">
<meta name="twitter:description" content="{{ settings.description }}">
<meta name="twitter:image" content="{{ settings.url }}/images/social.png">
<meta name="twitter:image:alt" content="Majesticons">

<meta name="google-site-verification" content="AaSlAlh0pLgOie3zrQBWZpk1UQBqQZzYQ03mUJIl_8M" />