<div class="py-16 md:py-24" id="pricing">
    <div class="wrapper">
  
    <div class="text-4xl tracking-tight font-extrabold sm:text-5xl">Simple and straightforward <br> pricing without hidden costs</div>
    <p class="mt-4 text-lg">The little details you need to make your design look better</p>
  
    <div class="grid grid-cols-12 gap-6 xl:gap-8 mt-12">
  
      <div class="col-span-12 md:col-span-4 border border-gray-200 rounded-xl shadow overflow-hidden">
        <div class="bg-gray-800 text-white p-3 text-center font-medium">
          Solo — 1 user
        </div>
        <div class="py-8 px-6 bg-white text-center">
          <svg class="size-12 mx-auto mb-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 21v-2a4 4 0 0 1 4-4h6a4 4 0 0 1 4 4v2M16 7a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z" vector-effect="non-scaling-stroke"/></svg>
          <div class="flex items-center justify-center gap-2">
            <div class="text-3xl sm:text-4xl font-extrabold tracking-tight">$ 99</div>
            <div class="text-gray-600 font-medium">/ one-time</div>
          </div>
          <div class="text-gray-600 mt-2 mb-4">You pay once, access forever</div>
          <a class="bg-gray-800 hover:bg-gray-700 py-3 px-6 inline-block w-full text-white rounded-full font-medium transition-all" target="_blank" href="{{settings.gumroad_solo}}">Buy Solo license</a>
        </div>
        <div class="p-6 border-t border-gray-200">
          <ul class="flex flex-col gap-2">
            <li><span class="mr-2 text-gray-700">✓</span>License for <strong>1 user</strong></li>
            <li><span class="mr-2 text-gray-700">✓</span>{{settings.icons}} icons</li>
            <li><span class="mr-2 text-gray-700">✓</span>New icons monthly</li>
            <li><span class="mr-2 text-gray-700">✓</span>3x styles</li>
            <li><span class="mr-2 text-gray-700">✓</span>{{settings.categories}} categories</li>
            <li><span class="mr-2 text-gray-700">✓</span>Figma file</li>
            <li><span class="mr-2 text-gray-700">✓</span>IconJar file</li>
            <li><span class="mr-2 text-gray-700">✓</span>Exported SVG files</li>
            <li><span class="mr-2 text-gray-700">✓</span>License key</li>
            <li><span class="mr-2 text-gray-700">✓</span>Unlimited projects</li>
            <li><span class="mr-2 text-gray-700">✓</span>Lifetime access</li>
          </ul>
        </div>
      </div>
  
      <div class="col-span-12 md:col-span-4 border border-gray-200 rounded-xl shadow overflow-hidden">
        <div class="bg-gray-800 text-white p-3 text-center font-medium">
          Team — Unlimited user
        </div>
        <div class="py-8 px-6 bg-white text-center">
          <svg class="size-12 mx-auto mb-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M13 10.8a3 3 0 0 0 0-5.6m5 5.6a3 3 0 0 0 0-5.6M2 19v-2a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v2m5 0v-2a3 3 0 0 0-3-3m8 5v-2a3 3 0 0 0-3-3m-9-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" vector-effect="non-scaling-stroke"/></svg>
          <div class="flex items-center justify-center gap-2">
            <div class="text-3xl sm:text-4xl font-extrabold tracking-tight">$ 299</div>
            <div class="text-gray-600 font-medium">/ one-time</div>
          </div>
          <div class="text-gray-600 mt-2 mb-4">You pay once, access forever</div>
          <a class="bg-gray-800 hover:bg-gray-700 py-3 px-6 inline-block w-full text-white rounded-full font-medium transition-all" target="_blank" href="{{settings.gumroad_teams}}">Buy Team license</a>
        </div>
        <div class="p-6 border-t border-gray-200">
          <ul class="flex flex-col gap-2">
            <li><span class="mr-2 text-gray-700">✓</span>License for <strong>unlimited users</strong></li>
            <li><span class="mr-2 text-gray-700">✓</span>{{settings.icons}} icons</li>
            <li><span class="mr-2 text-gray-700">✓</span>New icons monthly</li>
            <li><span class="mr-2 text-gray-700">✓</span>3x styles</li>
            <li><span class="mr-2 text-gray-700">✓</span>{{settings.categories}} categories</li>
            <li><span class="mr-2 text-gray-700">✓</span>Figma file</li>
            <li><span class="mr-2 text-gray-700">✓</span>IconJar file</li>
            <li><span class="mr-2 text-gray-700">✓</span>Exported SVG files</li>
            <li><span class="mr-2 text-gray-700">✓</span>License key</li>
            <li><span class="mr-2 text-gray-700">✓</span>Unlimited projects</li>
            <li><span class="mr-2 text-gray-700">✓</span>Lifetime access</li>
          </ul>
        </div>
      </div>

      <div class="col-span-12 md:col-span-4 border border-violet-200 rounded-xl shadow overflow-hidden">
        <div class="bg-gradient-to-r from-violet-600 to-purple-900 text-white p-3 text-center font-medium">
          Subscription
        </div>
        <div class="py-8 px-6 bg-white text-center">
          <div class="flex items-center justify-center gap-2 mb-4">
          <svg class="size-12" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M13 10.8a3 3 0 0 0 0-5.6m5 5.6a3 3 0 0 0 0-5.6M2 19v-2a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v2m5 0v-2a3 3 0 0 0-3-3m8 5v-2a3 3 0 0 0-3-3m-9-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" vector-effect="non-scaling-stroke"/></svg>
          <span class="font-bold">+</span>
          <svg class="size-12" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M4 9v10c0 1.1.9 2 2 2h6M4 9V7c0-1.1.9-2 2-2h2M4 9h16m0 0V7a2 2 0 0 0-2-2h-2m4 4v2m-4-6V3m0 2H8m0 0V3m9 12v2l-2-2 2-2v2Zm0 0h1c1 0 3 .6 3 3s-2 3-3 3c-.5 0-1.4-.2-2-.7" vector-effect="non-scaling-stroke"/></svg>
          </div>
          <div class="flex items-center justify-center gap-2">
            <div class="text-3xl sm:text-4xl font-extrabold tracking-tight">$ 999</div>
            <div class="text-gray-600 font-medium">/ monthly</div>
          </div>
          <div class="text-gray-600 mt-2 mb-4">Get everything + custom icons</div>
          <a class="border border-gray-800 text-gray-800 py-3 px-6 inline-block w-full hover:bg-gray-100 rounded-full font-medium transition-all" target="_blank" href="{{settings.gumroad_membership}}">Subscribe now</a>
        </div>
        <div class="p-6 bg-violet-50 border-y border-violet-200">
          <li class="flex  text-violet-800 font-medium"><span class="mr-2">♡</span>Get as as many custom icons as you need for your startup or company and simply pay a fixed monthly price.</li>
        </div>
        <div class="p-6">
          <ul class="flex flex-col gap-2">
            <li><span class="mr-2 text-gray-700">✓</span>License for <strong>unlimited users</strong></li>
            <li><span class="mr-2 text-gray-700">✓</span>{{settings.icons}} icons</li>
            <li><span class="mr-2 text-gray-700">✓</span>New icons monthly</li>
            <li><span class="mr-2 text-gray-700">✓</span>3x styles</li>
            <li><span class="mr-2 text-gray-700">✓</span>{{settings.categories}} categories</li>
            <li><span class="mr-2 text-gray-700">✓</span>Figma file</li>
            <li><span class="mr-2 text-gray-700">✓</span>IconJar file</li>
            <li><span class="mr-2 text-gray-700">✓</span>Exported SVG files</li>
          </ul>
        </div>
      </div>

    </div>
    </div>
  </div>