<div class="md:py-24" id="pricing">
    <div class="wrapper">
  
    <div class="text-4xl tracking-tight font-extrabold sm:text-5xl text-center">Simple and straightforward <br> pricing without hidden costs</div>
    <p class="mt-4 text-center text-lg">The little details you need to make your design look better</p>
  
    <div class="grid grid-cols-12 gap-12 mt-12">
  
      <div class="col-span-12 md:col-span-4 border border-gray-200 rounded-xl overflow-hidden">
        <div class="bg-gray-800 text-white p-4 text-center font-medium">
          Solo — 1 user
        </div>
        <div class="p-8 bg-white text-center">
          <div class="flex items-center justify-center gap-2">
            <div class="text-3xl sm:text-4xl font-extrabold tracking-tight">$ 99</div>
            <div class="text-gray-600 font-medium">/ one-time</div>
          </div>
          <div class="text-gray-600 mt-2 mb-4">You pay once — access forever</div>
          <a class="bg-gray-800 py-3 px-6 inline-block w-full text-white rounded-full font-medium transition-all" target="_blank" href="https://halfmage.gumroad.com/l/majesticons?option=JET8um0k162dz0hXRocjsA%3D%3D">Buy now</a>
        </div>
        <div class="p-6 border-t border-gray-200">
          <ul class="flex flex-col gap-2">
            <li><span class="mr-2 text-gray-700">✓</span>License for <strong>1 user</strong></li>
            <li><span class="mr-2 text-gray-700">✓</span>{{settings.icons}} icons</li>
            <li><span class="mr-2 text-gray-700">✓</span>New icons monthly</li>
            <li><span class="mr-2 text-gray-700">✓</span>3x styles</li>
            <li><span class="mr-2 text-gray-700">✓</span>{{settings.categories}} categories</li>
            <li><span class="mr-2 text-gray-700">✓</span>Figma file</li>
            <li><span class="mr-2 text-gray-700">✓</span>IconJar file</li>
            <li><span class="mr-2 text-gray-700">✓</span>Exported SVG files</li>
            <li><span class="mr-2 text-gray-700">✓</span>License key</li>
            <li><span class="mr-2 text-gray-700">✓</span>Unlimited projects</li>
            <li><span class="mr-2 text-gray-700">✓</span>Lifetime access</li>
          </ul>
        </div>
      </div>
  
      <div class="col-span-12 md:col-span-4 border border-gray-200 rounded-xl overflow-hidden">
        <div class="bg-gray-800 text-white p-4 text-center font-medium">
          Team — Unlimited user
        </div>
        <div class="p-8 bg-white text-center">
          <div class="flex items-center justify-center gap-2">
            <div class="text-3xl sm:text-4xl font-extrabold tracking-tight">$ 299</div>
            <div class="text-gray-600 font-medium">/ one-time</div>
          </div>
          <div class="text-gray-600 mt-2 mb-4">You pay once — access forever</div>
          <a class="bg-gray-800 py-3 px-6 inline-block w-full text-white rounded-full font-medium transition-all" target="_blank" href="https://halfmage.gumroad.com/l/majesticons?option=JET8um0k162dz0hXRocjsA%3D%3D">Buy now</a>
        </div>
        <div class="p-6 border-t border-gray-200">
          <ul class="flex flex-col gap-2">
            <li><span class="mr-2 text-gray-700">✓</span>License for <strong>unlimited users</strong></li>
            <li><span class="mr-2 text-gray-700">✓</span>{{settings.icons}} icons</li>
            <li><span class="mr-2 text-gray-700">✓</span>New icons monthly</li>
            <li><span class="mr-2 text-gray-700">✓</span>3x styles</li>
            <li><span class="mr-2 text-gray-700">✓</span>{{settings.categories}} categories</li>
            <li><span class="mr-2 text-gray-700">✓</span>Figma file</li>
            <li><span class="mr-2 text-gray-700">✓</span>IconJar file</li>
            <li><span class="mr-2 text-gray-700">✓</span>Exported SVG files</li>
            <li><span class="mr-2 text-gray-700">✓</span>License key</li>
            <li><span class="mr-2 text-gray-700">✓</span>Unlimited projects</li>
            <li><span class="mr-2 text-gray-700">✓</span>Lifetime access</li>
          </ul>
        </div>
      </div>

      <div class="col-span-12 md:col-span-4 border border-violet-200 rounded-xl overflow-hidden">
        <div class="bg-violet-700 text-white p-4 text-center font-medium">
          Super Special — Custom icons
        </div>
        <div class="p-8 bg-white text-center">
          <div class="flex items-center justify-center gap-2">
            <div class="text-3xl sm:text-4xl font-extrabold tracking-tight">$ 999</div>
            <div class="text-gray-600 font-medium">/ monthly</div>
          </div>
          <div class="text-gray-600 mt-2 mb-4">Get all icons — custom designs</div>
          <a class="bg-gray-800 py-3 px-6 inline-block w-full text-white rounded-full font-medium transition-all" target="_blank" href="https://halfmage.gumroad.com/l/majesticons?option=JET8um0k162dz0hXRocjsA%3D%3D">Buy now</a>
        </div>
        <div class="p-6 bg-violet-50 border-y border-violet-200">
          <li class="flex  text-violet-800 font-medium"><span class="mr-2">♡</span>Get as as many custom icons as you need for your startup or company and simply pay a fixed monthly price.</li>
        </div>
        <div class="p-6">
          <ul class="flex flex-col gap-2">
            <li><span class="mr-2 text-gray-700">✓</span>License for <strong>unlimited users</strong></li>
            <li><span class="mr-2 text-gray-700">✓</span>{{settings.icons}} icons</li>
            <li><span class="mr-2 text-gray-700">✓</span>New icons monthly</li>
            <li><span class="mr-2 text-gray-700">✓</span>3x styles</li>
            <li><span class="mr-2 text-gray-700">✓</span>{{settings.categories}} categories</li>
            <li><span class="mr-2 text-gray-700">✓</span>Figma file</li>
            <li><span class="mr-2 text-gray-700">✓</span>IconJar file</li>
            <li><span class="mr-2 text-gray-700">✓</span>Exported SVG files</li>
          </ul>
        </div>
      </div>

    </div>
    </div>
  </div>