<div class="wrapper py-16">
    <div class="text-center text-xs md:text-base">Trusted by these companies and many more</div>
    <div class="flex items-center justify-center flex-wrap md:flex-nowrap gap-4 md:gap-12 mt-8">
      <img class="h-6 md:h-9 opacity-75" src="/images/customer-logo-camino.svg" alt="">
      <img class="h-6 md:h-9 opacity-75" src="/images/customer-logo-peakwork.svg" alt="">
      <img class="h-6 md:h-8 opacity-75" src="/images/customer-logo-chain4travel.svg" alt="">
      <img class="h-6 md:h-9 opacity-75" src="/images/customer-logo-learnslice.svg" alt="">
      <img class="h-6 md:h-8 opacity-75" src="/images/customer-logo-sleap.svg" alt="">
    </div>
  </div>