@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@keyframes animation-pattern {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.animation-pattern {
  animation: animation-pattern 200s linear infinite;
}

.bg-iconpattern {
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .bg-iconpattern {
    background-size: cover;
  }
  .animation-pattern {
    animation: animation-pattern 120s linear infinite;
  }
}

.button {
  @apply bg-gradient-to-r from-amber-500 to-orange-600 text-white hover:brightness-125 leading-6 px-5 pt-2 pb-3 font-semibold text-center rounded-lg transition-all inline-block; 
}

.button-outline {
  @apply text-gray-900 dark:text-white border border-gray-400 dark:border-gray-700 hover:border-gray-950 hover:dark:border-gray-50 px-5 py-3 font-semibold text-center rounded-lg transition-colors inline-block ; 
}